# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Microsoft
*.tlog
*.log
*.VC
*.VC.db
*.ilk
*.pdb
*.xlsx
*.lastbuildstate
*.idb
*.ipch
Decom.vcxproj.filters
Decom.vcxproj.user
*.opendb
*.suo
*.txt
!CMakeLists.txt
!ReadMe.txt
*.enc
*.xml
*.lastcodeanalysissucceeded
*.codeanalysis
*.iobj
*.ipdb
*.pch.codeanalysisast
TAGS
build/*
*.manifest
build/makefile
documentation/*